.header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-items {
  padding: 10px 15px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
  font-size: 20px;
}

.nav-items > ul > li {
  margin: 10px;
  padding: 10px;
}

.admin-body {
  margin: 0 100px;
}

.search {
  display: flex;
  padding: 20px;
  margin: 20px;
  justify-content: center;
}

.search > input {
  padding: 10px;
  margin: 5px;
  width: 50%;
}
